@charset "UTF-8";


header#cabecalho {
   background-image: linear-gradient(to bottom, rgb(3, 194, 3), rgba(0, 0, 0, 0.663));
   height: 150px;
   border-top: 0px;
   color: white;
   text-align: center;
}
  
    body {
        background-color: #9BDDA6;
        text-align: justify;
    }

div.div1 {
    display: inline-block;
    background-color: rgb(0, 189, 53);
    border: 1px solid black;
    text-align: left;
    height: 30px;
    width: 200px;
    color: white;
}


div.div2 {
    display: inline-block;
    background-color: rgb(0, 189, 53);
    border: 1px solid black;
    text-align: left;
    height: 30px;
    width: 200px;
    color: white;
}


div.div3 {
    display: inline-block;
    background-color: rgb(0, 189, 53);
    border: 1px solid black;
    text-align: left;
    height: 30px;
    width: 200px;
    color: white;
}


div.div4 {
    display: inline-block;
    background-color: rgb(0, 189, 53);
    border: 1px solid black;
    text-align: left;
    height: 30px;
    width: 200px;
    color: white;
}


p{
    text-indent: 30px;
}

h2 {
    font-family: love;
    color: #035505;
}


div.div5 {
    display: inline-block;
    border: 1px solid black;
    text-align: left;
    height: auto;
    width: auto;
    color: white;
}

h3{
    background-color: #008316;
    color: white;
    height: 30px;
    border-radius: 10px 10px 0px 0px;
}

div#div7{
    background-color: white;
}

span{
   color: red ;
}

div {
    display: flexbox;
}

div.principal{
    background-color: wheat;
    height: auto;
    width: auto;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: 10px black;
 }

 div.div6{
    display:-moz-inline-grid;
 }
main {
    text-align: justify;
    background-color: white;
    text-align: center;
    height: auto;
}

footer{
    background-color: #035505;
    color: white;
    text-align: center;
}